body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
  
    background:linear-gradient(135deg,#1f1f1f,#3b82f6);
    font-family:Arial,sans-serif;
}

.card{
    width:320px;
    background:white;
    border-radius:20px;
    padding:30px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.3);
}

.card img{
    width:140px;
    height:140px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #3b82f6;
}

.card h1{
    margin:20px 0 10px;
}

.card p{
    color:#666;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:scale(1.05);
}
