body{
    margin:0;
    font-family:Arial,sans-serif;

    display:flex;
    justify-content: center;
    alignn-items: center;

    height:100vh;
    background:linear-gradient(135deg,#B8A7F0,#232329);
}

.card{
    width:320px;
    padding:30px;

    text-align: center;

    background: rgba(255,255,255,0.15);

    border: 1px solid rgba(255,255,255,0.2);

    backdrop-filter: blur(18px);

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}

.card img{
    width:140px;
    height:140px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #3b82f6;
}

.card h1{
    margin:20px 0 10px;
}

.card p{
    color:#666;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#3b82f6;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#2563eb;
    transform:scale(1.05);
}
